
.card-img, .card-img-top {
    width: 413px;
    height: 300px;
}
.card-body {
    width: 413px;
    height: 250px;
    /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
    /* color: var(--bs-card-color); */
}